# Environment variables
# -> Personal Info
FIRST_NAME=null
SECOND_NAME=null
LAST_NAME=null
NICK_NAME=null
# -> Job Info
AREA=null
PROFESSION=null
# -> Host Info
HOST_NAME=null
OPERATIVE_SYSTEM=null
ACTUAL_USER=null
PUBLIC_IP=null